@import '@/styles/variables';

.container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.button {
  border: 1px solid $gray-color;
  border-radius: 1rem;
  background: none;
  color: inherit;
  font-size: 3rem;
  cursor: pointer;
  width: 8rem;
  padding: 0 2rem;
}
