@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white-color;
  color: $black-color;
  height: 100vh;
}

.title {
  font-size: 4rem;
  color: $black-color;
}
